{% extends 'admin_templates/admin_dash.html' %}
{% block content %}

<div class="container" >
<!--<div class="card" >-->
<!--    <div class="card" >-->
<table  class="table">
    <thead class="thead-dark">
    <a href="{% url 'home_dashboard'  %}" class="btn btn-primary btn-round">Dashboard Main</a>
<h2 style="padding-left:300px;">View Complaint</h2>
    <tr>
        <th>Type</th>
        
        <th>Date</th>
         <th>Subject</th>
        <th>Complaint</th>
        <th>Reply</th>

    </tr>

    </thead>

{% for i in admincomplaint %}
<tr>
    <tbody>
    <td>
        {% if i.user.is_student == True %}
        <p>student</p>
        {% elif i.user.is_warden == True %}
        <p>warden</p>
{% endif %}
       </td>

<td>{{i.date}}</td>
    <td>{{i.subject}}</td>
    <td>{{i.complaint}}</td>

<td>
    {% if i.reply == None %}
    <a href="{% url 'admin_complaintreply' i.id%}">
       <button type="button" class="btn btn-success">Reply</button></a>
    {%else %}
    {{i.reply}}
    {% endif %}
    </td>


</tr>


{%endfor%}

</table>
</div>
</div>
</div>
{% endblock %}