{% extends 'admin_templates/admin_dash.html' %}
{% load crispy_forms_tags %}
{% block content %}

         <div class="card" style="width: 40rem;margin-left:14rem; margin-top: 2rem; ">
    <div class="card text-bg-dark">
        <div class="row justify-content-center"  >
      <div class="col-sm-10">

<form method="post">
     {% csrf_token %}
<h2 style="padding-left:170px;margin-top:20px">Reply</h2>


    <div class="mb-3">
  <label for="exampleFormControlInput2" class="form-label">Date</label>
  <input type="text" class="form-control" id="exampleFormControlInput2" readonly value="{{replycomplaint.date}}">
</div>
    <div class="mb-3">
  <label for="exampleFormControlInput2" class="form-label">Subject</label>
  <input type="text" class="form-control" id="exampleFormControlInput3" readonly value="{{replycomplaint.subject}}">
</div>
       <div class="mb-3">
  <label for="exampleFormControlInput2" class="form-label">complaint</label>
  <input type="text" class="form-control" id="exampleFormControlInput4" readonly value="{{replycomplaint.complaint}}">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Reply</label><br>
  <textarea  id="exampleFormControlTextarea1" rows="5" cols="60" name="complaint_reply"></textarea>
</div>
    <a href="{% url 'admin_dashboard' %}">
        <button type="submit" class="btn btn-success">Submit</button></a>

</form>
          </div>
        </div>
    </div>
</div>

{% endblock %}