{% extends 'admin_templates/admin_dash.html' %}
{% block content %}


<!--    <div class="card" >-->
    <div class=" text-bg-dark rounded" >
        <div class="row justify-content-center" style="margin-right:200px">
      <div class="col-sm-10">
          <table  class="table">



<h2 style="padding-left:290px;padding-top:10px">View Warden</h2>
    <tr>
        <th>Name</th>

        <th>Address</th>
        <th>Phone_no</th>
        <th>Occupation</th>
        <th>Update</th>
          <th>Delete</th>

    </tr>



{% for i in viewwarden %}
<tr>
<td>{{i.name}}</td>

    <td>{{i.address}}</td>
    <td>{{i.phone_no}}</td>
    <td>{{i.occupation}}</td>

<td>
    <a href="{% url 'warden_edit' i.id %}">
       <button type="button" class="btn btn-primary">edit</button></a>
    </td>
     <td>
    <a href="{% url 'delete_warden' i.id %}">
        <button type="button" class="btn btn-info">delete</button></a>
     </td>





</tr>



{%endfor%}

</table>
<a href="{% url 'home_dashboard'  %}" class="btn btn-primary btn-round">Back</a>
</div>
</div>
</div>
{% endblock %}