{% extends 'student_templates/student_dash.html' %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="card text-bg-dark" style="margin-right:270px;width:400px">
        <div class="row justify-content-center" >
      <div class="col-sm-10">

<form method="post">
     {% csrf_token %}
<h2 style="padding-left:50px">Complaint Register</h2>
    {{studntcomplaint|crispy}}

    <button type="submit" class="btn btn-primary" style=margin-left:8rem;>Submit</button>

</form>
         </div>
 </div>
    </div>
 </div>


{% endblock %}