{% extends 'student_templates/student_dash.html' %}
{% block content %}

<!--<div class="container" >-->
<!-- <div class="card" >-->
<!--    <div class="card text-bg-secondary" >-->
        <div class="row justify-content-center" >
      <div class="card col-sm-25">
<!--          style="margin-right:55px">-->
<table  class="table">
    <h2 style="padding-left:370px;">View Rooms</h2>
    <a href="{% url 'homestudent_dash'  %}" class="btn btn-primary btn-round">Back</a>

    <tr>
        <th>Room_no</th>
        <th>Details</th>
        <th>Block_name</th>
        <th>No_of_beds </th>
        <th>Monthly_fee</th>
        <th>Images</th>
        <th>Book The Room</th>

    </tr>


{% for i in studentviewroom %}
<tr>
<td>{{i.Room_no}}</td>
    <td>{{i.details}}</td>
    <td>{{i.Block_name}}</td>
    <td>{{i.No_of_beds}}</td>
    <td>{{i.Monthly_fee}}</td>

    <td><img src="{{ i.image.url }}" alt="demo" height="150px" width="150px"></td>


 <td>
    <a href="{% url 'room_booking' i.id %}">
        <button type="button" class="btn btn-primary">Room Book</button></a></td>


</tr>

{%endfor%}

</table>
</div>
</div>
</div>
 </div>
</div>
{% endblock %}