{% extends 'student_templates/student_dash.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!--&lt;!&ndash;         <div class="card" style="width: 45rem; height:50rem;margin-right:20rem; margin-top:3rem">&ndash;&gt;-->
    <div class="card text-bg-blue" style="width: 45rem; height:30rem;margin-right:10rem">
        <div class="row justify-content-center"  >
      <div class="col-sm-10">

<form method="post">
     {% csrf_token %}
<h2 style="padding-left:150px;padding-top:30px">Room Booking</h2>
    {{form|crispy}}

<a href="{% url 'schedule_create' %}">
    <button type="submit" class="btn btn-primary" style=margin-left:10rem;>Submit</button></a>

</form>
          </div>
        </div>
    </div>
</div>

{% endblock %}