{% extends 'warden_templates/warden_dashboard.html' %}
{% block content %}

<div class="container" >
<!-- <div class="card" style="width:80rem">-->
    <div class="card text-bg-dark" >
        <div class="row justify-content-center" style="padding-right:130px">
      <div class="col-sm-10">
<table  class="table" >
    <h2 style="padding-left:290px;">View Rooms
    <a href="{% url 'homewarden_dash'  %}" class="btn btn-primary btn-round" style="margin-left:400px">Back</a></h2>

    <tr>
        <th>Room_no</th>
        <th>Details</th>
        <th>Block_name</th>
        <th>No_of_beds </th>
        <th>Monthly_fee</th>
        <th>Images</th>

    </tr>


{% for i in wardenviewroom %}
<tr>

<td>{{i.Room_no}}</td>
    <td>{{i.details}}</td>
    <td>{{i.Block_name}}</td>
    <td>{{i.No_of_beds}}</td>
    <td>{{i.Monthly_fee}}</td>


    <td><img src="{{ i.image.url }}" alt="demo" height="150px" width="150px"></td>

</tr>

{%endfor%}

</table>
</div>
</div>
</div>
 </div>
</div>
{% endblock %}