{% extends 'complaint_student1.html' %}
{% block content %}

<div class="container" >
<div class="card"style="margin-left:100px;margin-top:70px" >
    <div class="card" >
<table  class="table">
    <a href="{% url 'student_dashboard'  %}" class="btn btn-primary btn-round">Dashboard Main</a>
<h2 style="padding-left:400px;">View Complaint</h2>
    <tr>

        <th>Date</th>
         <th>Subject</th>
        <th>Complaint</th>
        <th>Reply</th>

    </tr>



{% for i in viewcomplaint %}
<tr>

<td>{{i.date}}</td>
    <td>{{i.subject}}</td>
    <td>{{i.complaint}}</td>
    <td>


    {% if i.reply == None %}



          <p style="color:red">Reply not yet</p>

    {%else %}
    {{i.reply}}
    {% endif %}
    </td>

    </tr>

    {%endfor%}

</table>
</div>
</div>
</div>
{% endblock %}