{% extends 'complaint_warden.html' %}
{% block content %}

<div class="container" >
<div class="card" >
    <div class="card" >
<table  class="table">
    <a href="{% url 'warden_dashboard'  %}" class="btn btn-primary btn-round">Dashboard Main</a>
<h2 style="padding-left:200px;">View Complaint</h2>
    <tr>

        <th>Date</th>
         <th>Subject</th>
        <th>Complaint</th>
        <th>Reply</th>

    </tr>



{% for i in wardenviewc %}
<tr>
<td>{{i.date}}</td>
    <td>{{i.subject}}</td>
    <td>{{i.complaint}}</td>
    <td>
    {% if i.reply == None %}
   <button type="button" class="btn btn-primary">Reply</button>
        {% elif i.reply == None %}
        <a href="{% url 'complaintwarden_view' i.id%}">
          <p>Reply is none</p>

    {%else %}
    {{i.reply}}
    {% endif %}
     </td>
</tr>


{%endfor%}

</table>
</div>
</div>
</div>
{% endblock %}