{% extends 'bootstrap.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="bg-image"
  style="
    background-image: url('https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">

<div class="card" style="width: 40rem;margin-left:23rem; margin-top: 2rem;">
    <div class="card dark">
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2 style="padding-left:170px;margin-top:20px">Room Details Info</h2>
                    {{ hostelcreate|crispy }}

                    <button type="submit" class="btn btn-outline-light text-bg-dark ">Submit</button>
                    <a href="{% url 'admin_dashboard'  %}" class="btn btn-primary btn-round">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
    </div>

{% endblock %}
