{% extends 'bootstrap.html' %}
{% load crispy_forms_tags %}
{% block content %}

         <div class="card" style="width: 40rem;margin-left:14rem; margin-top: 2rem; ">
    <div class="card text-bg-blue">
        <div class="row justify-content-center"  >
      <div class="col-sm-10">

<form method="post">
     {% csrf_token %}
<h2 style="padding-left:170px;margin-top:20px">SCHEDULE</h2>
    {{form|crispy}}

<a href="{% url 'schedule_create' %}">
    <button type="submit" class="btn btn-primary" style=margin-left:10rem;>Submit</button></a>

</form>
          </div>
        </div>
    </div>
</div>

{% endblock %}